
.artists{
    display: grid;
    gap: 20px;
}

.single-artist,.full-single-artist{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
        'pic name back'
        '. artworks .';
    align-items: center;

    box-shadow: var(--boxShadow);
    border-radius: 20px;
    
    gap: 10px;
    /* transition: 0.2s all; */
    /* width: 90%; */
    cursor: pointer;
    padding: 20px;
}
.full-single-artist{
    cursor: default;
}

.artist-pic,.person-pic{
    grid-area: pic;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--boxShadow);
    object-fit: cover;
}

.artist-name,.person-name{
    grid-area: name;
    margin: 0;
    font-weight: var(--f-w-m);
}

.all-artworks,.full-all-artworks{
    grid-area: artworks;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.art-item,.art-item-full{
    height: 150px;
    width: 100px;
    
    object-fit: cover;
    
    box-shadow: var(--boxShadow);
    
    border-radius: 10px;
}


.art-item-full{
    height: 250px;
    width: 200px;
}

.art-items,.art-items-full{
    position: relative;
    height: 150px;
    /* margin: 5px 0; */
}

.art-items-full{
    height: 250px;
    cursor: pointer;
}

.art-items::before,
.art-items-full::before,
.art-items-full::after
{
    display: flex;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}



.art-items::before,
.art-items-full::before{
   
    content:  attr(data-price) ' $';
    
    /* text-align: center; */
    
    font-size: 10px;
    top: 85%;
    
    background-color: var(--primary);
    opacity: 0.8;
}

.art-items-full::after{
    position: absolute;
    content:  '+';
    left: 0;
    right: 0;
    bottom:0;
    top: 0;
    font-size: 25px;
    
    /* background-color: var(--primary); */
}

.art-items-full:hover{
    opacity: 0.8;
}


.back-btn-icon{
    grid-area: back;
    margin: 10px;
    width: 40px;
    height: 40px;
    /* position: absolute; */
    right: 0;
    top: 0;
}

.back-btn-icon:hover{
    opacity: 0.5;
    cursor: pointer;
}




@media  only screen and (max-width: 478px){
    .art-item,.art-items{
        width: 70px;
        height: 100px;
    }

    .art-item-full,.art-items-full{
        width: 150px;
        height: 200px;
    }



    .artists,.full-artist{
        margin: 0 var(--padd);
    }


    .full-all-artworks{
        justify-content: center;
    }

    /* .full-all-artworks{
        display: block !important;
        padding-bottom: 5px;
    } */

    .full-single-artist{
        margin: auto;
    }

    
} 