




.title-content{
   
    font-size: 25px;
    font-weight: 600;
    color: #dd2600;
}

.image-item{
    float: left;
    margin: 10px;
   
}

.add-image-label{
    box-sizing: border-box;
    display:grid;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 250px;
    border: none;
    border:2px dotted #dd2600;
    
    color: #dd2600;
    font-size: 30px;
    opacity: 0.6;
    background-color: white;

    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #888888;
}

.add-image-label:hover{
    opacity: 1;

}

.i-item{
    height: 300px;
    width: 250px;
    object-fit: cover;
    background-origin: content-box;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #888888;
}