


.content{
    margin: 100px 80px 80px 80px;
}




.title-content{
   
    font-size: 25px;
    font-weight: 600;
    color: #dd2600;
}






.float-image{
    width: 60px;
    position: fixed;
    /* display: flex; */
    bottom: 0;
    right: 0;
    margin: 30px;
    box-shadow: var(--boxShadow);
    border-radius: 50%;
    transition: 100ms box-shadow;
    background: white;
    z-index: 4;
}

.float-image:hover{
    box-shadow: var(--boxShadow-hover);
}




@media  only screen and (max-width: 478px){
    .add-image-label{
        height: 80px !important;
    }

    .image-item{
        display: table !important;
        margin: 0px auto !important;
        float: none !important;
       
    }



    .title-content{
            text-align: center;
    }

    .content{
        margin-left: 0;
        margin-right: 0;
    }

   

    
}