


.tab-list-item{
    
    list-style: none;
    /* float: left; */
    flex: 1;
    font-weight: 600;
    cursor: pointer;
    padding-bottom: 10px;
    color: #666666;
    text-align: center;
}

.tab-list-active{
    border-bottom: #dd2600 solid;
    /* transition: 0.5s; */
    color: #dd2600;
}

.tab-list{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 10;
    padding: 0;
}
