
.orders{
    display: grid;
    gap: 20px;
}

:root{
    --fs-13:13px;
    --fs-16:16px;
    --fs-18:18px;
    --fs-20:20px;
}

.single-order-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        '';
    box-shadow: var(--boxShadow);
    border-radius: 28px;
    position: relative;
    /* margin-bottom: 20px; */
    transition: 0.2s all;
    width: 90%;
    padding:20px;
    gap: 10px;
}

.single-order-container p{
    margin: 0;
}

.o-pic{
    height: 150px;
    width: 100px;
    object-fit: cover;
    
    border-radius: 10px;
    box-shadow: var(--boxShadow);

  
}

.o-images-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.o-a-pic{
       
    width: 35px;
    height: 35px;
    
    margin-top: 10px;
    
    border-radius: 100px;
    box-shadow: var(--boxShadow);
    object-fit: cover;

}

.o-images-container,.o-a-data,.o-price{
    grid-column: 1 / -1;
}


.o-price{
    
    font-size: var(--fs-20);
    font-weight: var(--f-w-m);
    color: var(--primary);
}

.o-add,.o-a-data,.time,.date{
    font-size: var(--fs-13);
}

.o-add-title,.o-a-title{
    font-size: var(--fs-16);
    font-weight: var(--f-w-m);
}



.o-a-name,.o-a-email{
 margin: 0;
 margin-left: 60px;
}

.order-no{
    justify-self: center;
    color: var(--primary);
   
    /* padding: 10px; */
    font-weight: var(--f-w-m);
    font-size: var(--fs-18);
}



.time,.date,.order-no{
    display: flex;
    align-items: center;
}

.time{
    justify-self: end;
}




@media  only screen and (max-width: 478px){

    .orders{
        margin:0 30px;
    }

    :root{
        --fs-13:10px;
        --fs-16:13px;
        --fs-18:15px;
        --fs-20:17px;
    }

    .o-pic{
        height: 120px;
        width: 80px;
    }
    
} 