.price{
    position: absolute;
    left: 0px;
    bottom: 0;
    width: -webkit-fill-available;
    padding-top: 10px;
    border-radius: 0px 0px 20px 20px;
    /* -webkit-appearance: textfield; */
    border: none;
    opacity: 0.6;
    padding: 4px 0px 0px 0px;
    /* padding-left: 50%; */
    text-align: center;
    /* vertical-align: middle; */
    line-height: 35px;
    color: #dd2600;
    font-weight: 600;
    font-size: 15px;
    
}
/* 
.price::content{
    content: 'aa';
} */

.price::-webkit-outer-spin-button,
.price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.dolors{
    display: inline-flex;
    bottom: 0;
    position: absolute;
    /* top: 0; */
    line-height: 35px;
    margin-left: 10px;
    font-weight: 600;
    color: #dd2600;
}


.delete-back{
    background: #dd2600;
}