

.modalBack {
    
  /* align-items: center; */
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  /* filter: blur(10px); */
  /* display: flex; */
  /* justify-content: center; */
  display: grid;
  justify-content: center;
  align-items: center;
  }


  
  /* Modal Content/Box */
  .modalContent {
    z-index: 5;
    background-color: #fefefe;
    /* overflow: auto; */
    padding: 20px;
   
    position: relative;
    /* width: max-content; */
    margin: 20px;
  }

  

    /* .inner{
      width: 25px;
      height: 0px;
      margin: 0px auto;
       border-bottom: 3px solid black; 
    } */

    .close {
      opacity: 0.3;
      position: relative;
      display: flex;
      justify-content: center;
      
    }

    .close-container{
      position: absolute;
      /* float: right; */
      cursor: pointer;
      /* right: 20px; */
      /* background-color: red; */
      z-index: 2;
      height: 25px;
      width: 25px;
      top: 10px;
      right: 10px;
    }

    .close-container:hover .close{
      opacity: 1;
    }
    .close:before,.close:after {
      position: absolute;

      content: ' ';
      
      height: 25px;
      width: 2px;
      background-color: #333;
      border: white solid 1px;
    
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    






    @media  only screen and (max-width: 560px)
    {

      .modalContent {
        
        /* width: 40% !important;  */
        /* margin: auto; */
        min-width: calc(100vw - 80px);
        padding: 15px;
        /* top: 0;
        bottom: 0; */
        margin-top: 10%;
      }

     
     



    }

   