.image{
    top: 0;
bottom: 0;
left: 0;
right: 0;
position: absolute;
display: block;
width: 20vw;
height: 20vw;
object-fit: cover;
z-index: 1;
margin: auto auto;
}

.imagetop{
   
   
    top: 0;
bottom: 0;
left: 0;
right: 0;
position: absolute;
display: block;
width: 20vw;
height: 20vw;
object-fit: cover;
z-index: 1;
margin: auto auto;
    text-align: center;
}


    


.imagee{
    height: 20vw;
         background-color: #dd2600;
         

    /* filter: grayscale(100%); */
    animation: fillcolor 1s;
    opacity: 0.7;
   transition: all ease-in-out 1s;
    z-index: 20;
}