


.serach-container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    padding: 10px 20px;
    border-radius: 100px;
    margin-bottom: 30px;
    /* border: none; */
    min-width: 200px;
    max-width: 30vw;
    border: 2px #aaaaaa solid;
    align-items: center;
}

.search-btn{
    border:none;
    font-family: var(--font-face);
    caret-color: #aaaaaa;
    color:#aaaaaa;
    font-weight: var(--f-w-m);
}



.fa-search{
    /* opacity: 0.5; */
    /* display: flex; */
    /* cursor: pointer; */
    justify-self: flex-end;
    color: #aaaaaa;
    /* transition: 0.1s all; */
}



.search-btn:focus{
    outline:none;
}

.search-btn::placeholder{
    font-family: var(--font-face);
    font-weight: var(--f-w-m);
    opacity: 0.7;
   
}


.users-container{
    display: grid;
    gap: 20px;
}

.chat-single,.chat-single-unseen{
   
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        'pic name ltime'
        'pic lmsg lmsg';
    
    border-radius: 20px;
    min-width: 200px;
    width: 50vw;
    padding: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 250ms ease-in-out;
}

.chat-single{
    box-shadow: var(--boxShadow);
}

.chat-single-unseen{
    box-shadow: 0px 0px 5px var(--primary);
}

.chat-single:hover{
    
    box-shadow: 0px 0px 5px 1px #aaaaaa;
}

.chat-single-unseen:hover{
    
    box-shadow: 0px 0px 5px 1px var(--primary);
}




.lastText{
    grid-area: lmsg;
    
    font-size: 13px;
}

.lastTime{
    grid-area: ltime;
    
    font-size: 10px;
}

.single-user{
   
    position: relative;
    margin-bottom: 20px;
    
   
}










.messages-container{
    box-shadow: var(--boxShadow);
    border-radius: 0px 0px 30px 30px;
}

.typeMessage{
    width: 90%;
    margin: auto;
    border: none;
    border-radius: 30px;
    display: block;
    padding: 10px;
    font-family: var(--font-face);
}

.bottom-send-button{
    display: flex;
    border: 2px solid var(--primary);
    border-radius: 30px;
}

.send-message-btn{
    transform: translateY(8px);
}

.fa-paper-plane{
    color: var(--primary);
    opacity: 0.7;
    margin-right:12px ;
    transition: all 0.1s;
}

.fa-paper-plane:hover{
    opacity: 1;
    cursor: pointer;
}



*:focus {outline:none !important}


.only-messages{
    padding: 15px 15px 0px 15px;
    /* display: flex;
    flex-direction: column-reverse; */
    
    height: 250px;
    overflow-y: scroll;
}


.chat-message-list{
    /* padding: 0 20px; */
}
.messages-container{
    display: grid;
    grid-template-columns: minmax(auto,500px);
}

.message-row{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 70%;
}

.message-text{
    font-size: 0.8rem;
    margin-bottom: 5px;
    padding: 9px 14px;
    transition: all 0.2s;
    animation: opa 0.2s ease-in;
}

@keyframes opa{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.message-time{
    font-size: 0.6rem;
    color: #777777;
}

.you-message{
    justify-content: end;
    justify-items: end;
}

.other-message{
    justify-items: start;
    justify-content: start;
}

.you-message .message-text{
    background:var(--primary);
    color: white;
    border-radius: 14px 14px 0px 14px;
}

.other-message .message-text{
    background: #dddddd;;
    color: black;
    border-radius:  0px 14px 14px 14px;
}



@media  only screen and (max-width: 478px){
    .serach-container{  
        margin:0 auto;
        margin-bottom: 30px;

    }

    .chat-single{
        width: 50vw;
    }

  

    .search-btn::placeholder,
    .message-text,
    .search-bt{
        font-size: 12px;
    }

    .users-container{
        justify-content: center;
    }

    

   

   


   
}
