.log-reg-container{
    width: 500px;
}

.titleReg{
    font-weight: var(--f-w-m);
    text-align: center;
    margin: 0; 
    font-size: 20px;
    
    }

.form{
    display: flex;
    flex-direction: column;
}


.input{
    width: 100%;
    height: 35px;
    margin: 8px 0px;
    box-sizing: border-box;
    font-family: var(--font-face);
    font-size:14px;
    padding-left: 5px;
    border: none;
    outline: 1px var(--clr-input-outline) solid;
    
}

  .input:hover , .input:focus{
   
    outline: 1px var(--clr-input-active) solid !important;
}

.input::placeholder{
    opacity: 0.7;
    /* padding-left: 5px; */
}


.inputButton{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    font-family: var(--font-face);
    background-color: var(--primary);
    border:none;
    color: var(--secondary);
    font-size: 15px;
    font-weight: 600;
    padding:0;
}

.inputButton:hover, .inputButton:focus{
    opacity: 0.9;


}


.error{
    outline: auto var(--clr-err) 1px;

}

.error:focus{
   
    outline:var(--clr-err) 1px auto;
}

.errorMessage{
    position: relative;
    color: var(--clr-err);
    font-size: 12px;
    top: -6px;

    
}


@media  only screen and (max-width: 560px){
    .log-reg-container{
        width: auto;
        /* margin: 0; */
    }

    .form *
    {
        font-size: 10px;

    }

    .tab-list-item{
        font-size: 12px;

    }

    .titleReg{
        font-size: 16px;
    }

    .errorMessage{
        font-size: 8px;
    }

}



