.btn{

  position: relative;
  top: calc(100% - 60px);
  border: none;

  padding: 12px;
  font-size: 12px; 
  color: var(--secondary);
  border-radius: 100px;
   
  transition: all 0.2s;
  background-color: var(--primary);     
}
.btn:hover{
    background: var(--primary-light);
    cursor: pointer;
}




.mainDiv{
    box-shadow: var(--boxShadow);
    width: 100%; 
    /* height: 500px; */
    justify-self: center;
    /* background-size: auto; */
}

.mainDiv.mainartist{
    background: url("../../artist.png");
    background-size: cover;
}

.mainDiv.maincustomer{
    background: url("../../customer.png");
    background-size: cover;
}

.displayGrid{
    margin: 120px 15px 15px 15px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    justify-content: center;
    height: calc(100vh - 120px - 15px);
}


@media  only screen and (max-width: 700px){
    .displayGrid{
        grid-template-columns: 1fr;
       
      
    }

   
}
