
.gallery{
    display: flex;
    flex-flow: wrap;
    gap: 15px;
}


.image-item{
    /* float: left; */
    /* margin: 10px; */
   /* cursor: pointer; */
   position: relative;
   
}

.add-image-label,.i-item{
    height: 300px;
    width: 250px;
    cursor: pointer;
    border-radius: 20px;
}



.add-image-label{
    box-sizing: border-box;
    display:grid;
    align-items: center;
    text-align: center;
    border: none;
    border:2px dotted var(--primary);
    
    color: var(--primary);
    font-size: 30px;
    opacity: 0.6;
    background-color: white;

    
    
}

.add-image-label:hover{
    opacity: 1;

}

.i-item{
   
    object-fit: cover;
    /* background-origin: content-box; */
    
    box-shadow: var(--boxShadow);
    transition: box-shadow 100ms;
    
}

.i-item:hover{
    box-shadow:0px 0px 5px 1px #999999;

}

.price-input{
    position: relative;
    display: block;
}


.price-input::before{
    content:'';
    position: absolute;
    /* text-align: center; */
    /* display: block; */
    font-size: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    color: var(--primary);
    opacity: 0.8;
}

/*...........artist...............*/

.price{
    position: absolute;
    left: 0px;
    bottom: 7px;
    width: -webkit-fill-available;
    padding-top: 10px;
    border-radius: 0px 0px 20px 20px;
    /* -webkit-appearance: textfield; */
    border: none;
    opacity: 0.6;
    padding: 4px 0px 0px 0px;
    /* padding-left: 50%; */
    text-align: center;
    /* vertical-align: middle; */
    line-height: 35px;
    color: #dd2600;
    font-weight: 600;
    font-size: 15px;
    
}
/* 
.price::content{
    content: 'aa';
} */




.dolors{
    display: flex;
    bottom: 7px;
    position: absolute;
    /* top: 0; */
    line-height: 35px;
    margin-left: 10px;
    font-weight: 600;
    color: #dd2600;
}


